body{
                background-color: grey;
                margin-top:10px;
            }

#result span{
    border: 1px solid black;
    margin-left: 3px;
    padding: 3px;
}

#result-div{
    word-break: break-word;
}

.container-pancake{
    margin-bottom: 100px
}

.container-pancake div{
    border-radius: 5px;
    transition: 1s;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.container-pancake div:hover{
    border-radius: 50%;
}