body{
                background-color: grey;
                margin-top:10px;
            }

#result span{
    border: 1px solid black;
    margin-left: 3px;
    padding: 3px;
}

#result-div{
    word-break: break-word;
}

#container-pancake div:hover{
    border-radius: 50%;
    background-color: orange;
}